.wrapper {
    margin: 5px;

}
h1 {
text-align: center;
}

.example-one {
    height: 150px;
    width: 50%;
    background-color: cornflower;
}

.example-two {
margin-top: 5px;
border:solid 2px limegreen;
}

.example-two {
    width: 400px;
    height: 400px;
}

